@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

/* ===== ROOT ===== */
:root {
  --ink-main: #3b2f1e;
  --paper-main: #f3ecd8;
  --paper-soft: #efe4c5;
  --paper-dark: #e6d8b5;
  --paper-hover: #dccb9a;
  --paper-disabled: #ede6d3;
  --border-main: #3b2f1e;
  --border-soft: #bfae7a;
  --border-light: #d3c7a3;
  --border-accent: #a8965f;
  --text-disabled: #9a8f76;
  --combat-bg: #e1c3a8;
  --combat-border: #8b3a2e;
}

* {
  box-sizing: border-box;
} 

body {
  font-family: "Cinzel", sans-serif;
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--ink-main);
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/* ===== LAYOUT ===== */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 400px;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: 1 / -1;
  gap: 0.3rem;
  grid-template-areas: 
  "scheda borsa"
  "discipline zaino"
  "armamento oggetti-speciali"
  "combattimento combattimento";
  margin-top: 0.5rem;
}

.scheda { grid-area: scheda; }
.discipline { grid-area: discipline; }
.zaino { grid-area: zaino; }
.armamento { grid-area: armamento; }
.oggetti-speciali { grid-area: oggetti-speciali; }
.combattimento { grid-area: combattimento; }
.borsa {grid-area: borsa;}

header {
  display: flex;
  justify-content: space-around;
  align-items:center; 
}

 .header-btn-group {
  display: grid;
  align-items: center;
}

h2 {
  display: flex;
  text-align: center;
  align-items: center;
}

h3 {
  border-bottom: 1px solid var(--border-accent);
  margin-bottom: 0.3rem;
  margin-top: 0;
}

label {
  font-weight: bold;
}

.icon {
  vertical-align: middle;
}

footer {
  display: grid;
  margin-top: auto;
  text-align: center;
}

.scheda-cs-ep {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  align-items: center;
}
.scheda-cs-ep span, 
.borsa-oro span, 
.borsa-pasti span{
  font-weight: bold;
  padding: 0.1rem 0.5rem;
  border-radius: 0.2rem;
  pointer-events: none;
  border: none;
  border-bottom: 1px solid var(--border-accent);
  background-color: var(--paper-main);
}
.scheda-utility {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scheda-segnalibro {
  width: 50%;
}

.borsa-pasti,.borsa-oro, .borsa-dadi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discipline label {
  display: flex;
  align-items: center;
}

