@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* ===== ROOT ===== */
:root {
  --ink-main: #3b2f1e;
  --paper-main: #f3ecd8;
  --paper-soft: #efe4c5;
  --paper-dark: #e6d8b5;
  --paper-hover: #dccb9a;
  --paper-disabled: #ede6d3;
  --border-main: #3b2f1e;
  --border-soft: #bfae7a;
  --border-light: #d3c7a3;
  --border-accent: #a8965f;
  --text-disabled: #9a8f76;
  --combat-bg: #e1c3a8;
  --combat-border: #8b3a2e;
}

* {
  box-sizing: border-box;
} 

body {
  font-family: "Cinzel", sans-serif;
  font-size: 0.7rem;
  text-transform: capitalize;
  color: var(--ink-main);
  background: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-around;
  align-items:center; 
}

 .header-btn-group {
  display: grid;
  align-items: center;
}

h3 {
  border-bottom: 1px solid var(--border-accent);
  margin-bottom: 0.3rem;
  margin-top: 0;
}

h2 {
  display: flex;
  text-align: center;
  align-items: center;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--ink-main);
  margin-bottom: 0;
  font-style: italic;
}


label {
  font-weight: bold;
}

footer {
  display: grid;
  margin-top: auto;
  text-align: center;
}

.icon {
  vertical-align: middle;
  margin: 0.3rem;
}

